
<body class="hold-transition skin-blue sidebar-mini">
    <div class="loginbg">
     
      <div class="row logbox " >
        <div class="col-lg-offset-8 col-md-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-dark-blue">
              <!--<h3 class="widget-user-username text-center bg-white">ASSET MONITORING</h3>-->
                
                <div class="col-lg-offset-3 col-lg-7 login-btn" >
                    <img style="height:50px;width:130px;" src="/img/Logo_New.png">
                </div>
            </div>
            <div class="widget-user-image">
              <!--<img class="img-circle" src="../dist/img/user2-160x160.jpg" alt="User Avatar">-->
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-lg-offset-3 col-lg-6 login-btn" style="margin-bottom:30px;">
                  <button type="button" class="btn btn-block btn-success btn-lg" ng-click="signIn('click')">Sign In</button>
                </div>
                    <!--<div class="col-lg-offset-3 col-lg-6 login-btn">
                      <button type="button" class="btn btn-block btn-primary btn-lg">Sign Up</button>
                    </div>-->
              </div>
             
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
      </div>
    </div>
    <div class="loading style-2 ng-scope" style="display:{{loader}};">
        <i class="fa fa-refresh fa-spin loader" style="font-size:40px;"></i>
    </div>
